* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    padding: 0 200px;
}

h1 {
    color: rgb(216, 84, 150);
    text-align: center;
    margin: 50px 0;

}

span {
    display: block;
}

p {
    text-align: center;
    font-size: 25px;
}

.rettangolo {
    width: calc((100% / 3) - 20px);
    background-color: black;
    margin: 50px 10px 0 10px;
}

.float-left {
    float: left;
}

h2 {
    color: white;
}

.lavoro {
    color: white;
}

.mail {
    color: aqua;
}